<nav class="navbar border-bottom navbar-expand-lg py-3 bg-body-tertiary nav-colour">
  {{!-- navbar-light bg-dark  --}}
  <div class="container-fluid">
    <img src="/static/images/eren.webp" alt="Logo" width="40" height="40" style="border-radius:50%" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="/">{{data.brandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{#each data.links}}
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="{{this.url}}">{{this.label}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>